body {
    font-family: Arial, sans-serif;
    background-image: url('img/Background.png');
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra mais forte */
    width: 300px;
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

.forgot-password {
    display: block;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    color: #333030;
    text-decoration: underline;
    cursor: pointer;
}

.forgot-password:hover {
    color: #520661; /* Cor do texto ao passar o mouse */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #520661;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #520661;
}