:root {
    --color-primary: #520661;
    --color-secondary: #c8add1f6;
}

/* Estilos gerais */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

button {
    background-color: var(--color-primary);
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;  
}

.container {
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra mais forte */
    width: 300px;
}

h2 {
    text-align: center;
}

.input-EmailSenha {
    margin-bottom: 20px;
}

.texto-email-invalido {
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
    color: rgb(216, 33, 33)
    
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-secondary);
    border-radius: 4px;
    margin-right: 5px;
}

#formRecuperacao {
    display: none;
}

.recuperar-senha {
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    color: #333030;
    text-decoration: underline;
    cursor: pointer;
}

.recuperar-senha:hover {
    color: var(--color-primary);
}

.button-entrar {
    width: 100%;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

.button-recuperar {
    width: 70%;
    font-size: 13px;
    padding: 5px;
}

.button-cancelar {
    width: 25%;
    font-size: 13px;
    padding: 5px;
}